.container {
  display: flex;
  flex-direction: row;
}

.content {
  width: 75vw;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-height: 700px) {
  .content section > div {
    margin-bottom: -3rem;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    width: 90vw;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  
}

@media (max-width: 750px) {
  .content section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .content section > div {
    width: 86vw;
    max-width: 500px;
    min-width: 300px;
  }

  .content section > div:last-child {
    margin-bottom: 3rem;
  }
}